<h2 align="center" style="background-color:#2D3436;color:white;border-radius:8px;padding:15px">Forecasting Stock Prices using Sentiment Analysis and Time Series Models: An Advanced Data Analytics Approach</h2>

### **Table of Contents**

- [Introduction](#Introduction)
   - Assessment Overview
   - Objectives
   - Data Source and Storage
- [Install and Import Required Libraries](#Install-and-Import-Required-Libraries)
- [Load Dataset](#Load-Dataset)

<h3 style="background-color:#2D3436;color:white;border-radius:8px;padding:15px">Introduction</h3>

### Assessment Overview

### Objectives

### Data Source and Storage

<h3 style="background-color:#2D3436;color:white;border-radius:8px;padding:15px">Install and Import Required Libraries</h3>

In [1]:
!pip install -q pyspark pandas

In [2]:
import os
from datetime import datetime, timedelta

import sqlite3
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, when, lit, to_date, avg, stddev, desc, first
from pyspark.sql.types import StructType, StructField, StringType, DoubleType, LongType
from pyspark.sql.window import Window

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import warnings
warnings.filterwarnings('ignore')

<h3 style="background-color:#2D3436;color:white;border-radius:8px;padding:15px">Load Dataset</h3>

#### **Initialize Spark Session and Define Data Paths**

In [3]:
spark = SparkSession.builder \
    .appName("Stock Tweet Analysis") \
    .config("spark.memory.offHeap.enabled", "true") \
    .config("spark.memory.offHeap.size", "10g") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/21 10:21:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
spark.sparkContext.setLogLevel("ERROR")

In [5]:
tweet_data_path = "/kaggle/input/stock-tweet-and-price/stock-tweet-and-price/stocktweet/stocktweet.csv"
stock_price_folder = "/kaggle/input/stock-tweet-and-price/stock-tweet-and-price/stockprice"
db_path = "stock_analysis.db"

#### **Define Data Schemas**

In [6]:
# Define the companies to analyze
companies = ['AAPL', 'AMZN', 'MSFT', 'TSLA', 'GOOGL', 'FB']

In [7]:
# Define schema for tweet data
tweet_schema = StructType([
    StructField("id", StringType(), True),
    StructField("date", StringType(), True),
    StructField("ticker", StringType(), True),
    StructField("tweet", StringType(), True)
])

In [8]:
# Define schema for stock price data
stock_schema = StructType([
    StructField("Date", StringType(), True),
    StructField("Open", DoubleType(), True),
    StructField("High", DoubleType(), True),
    StructField("Low", DoubleType(), True),
    StructField("Close", DoubleType(), True),
    StructField("Adj Close", DoubleType(), True),
    StructField("Volume", LongType(), True)
])

#### **Define Helper Functions for Loading Data**

In [9]:
def load_tweet_data():
    df = spark.read.csv(tweet_data_path, header=True, schema=tweet_schema)
    # Convert date string to standard format
    df = df.withColumn("date", to_date(col("date"), "MM/dd/yyyy"))
    # Filter tweets for selected companies
    df = df.filter(col("ticker").isin(companies))
    return df

In [10]:
def load_stock_data(ticker):
    file_path = os.path.join(stock_price_folder, f"{ticker}.csv")
    df = spark.read.csv(file_path, header=True, schema=stock_schema)
    # Convert date string to standard format
    df = df.withColumn("Date", to_date(col("Date"), "yyyy-MM-dd"))
    # Add ticker column
    df = df.withColumn("ticker", lit(ticker))
    return df

#### **Load Datasets using Helper Functions**

In [11]:
print("Loading tweet data...")
tweets_df = load_tweet_data()
print("Tweet data loaded")

Loading tweet data...
Tweet data loaded

In [12]:
print("Loading stock price data...")
stock_dfs = {}
for company in companies:
    stock_dfs[company] = load_stock_data(company)
print("Stock price data loaded")

Loading stock price data...
Stock price data loaded

<h3 style="background-color:#2D3436;color:white;border-radius:8px;padding:15px">Data Exploration</h3>

#### **Viewing First 5 Rows of Each Stock DataFrame**

In [13]:
def show_top_rows(df, name):
    """Display the top 5 rows of a DataFrame"""
    print(f"\n{name} Top 5 Rows:")
    df.show(5, truncate=False)

In [14]:
for ticker, df in stock_dfs.items():
    show_top_rows(df, ticker)

AAPL Top 5 Rows:

+----------+-----------------+-----------------+-----------------+-----------------+-----------------+---------+------+
|Date      |Open             |High             |Low              |Close            |Adj Close        |Volume   |ticker|
+----------+-----------------+-----------------+-----------------+-----------------+-----------------+---------+------+
|2019-12-31|72.48249816894531|73.41999816894531|72.37999725341797|73.4124984741211 |71.52082061767578|100805600|AAPL  |
|2020-01-02|74.05999755859375|75.1500015258789 |73.79750061035156|75.0875015258789 |73.15264892578125|135480400|AAPL  |
|2020-01-03|74.2874984741211 |75.1449966430664 |74.125           |74.35749816894531|72.44145965576172|146322800|AAPL  |
|2020-01-06|73.44750213623047|74.98999786376953|73.1875          |74.94999694824219|73.0186767578125 |118387200|AAPL  |
|2020-01-07|74.95999908447266|75.2249984741211 |74.37000274658203|74.59750366210938|72.67527770996094|108872000|AAPL  |
+----------+-----------------+-----------------+-----------------+-----------------+-----------------+---------+------+
only showing top 5 rows


AMZN Top 5 Rows:
+----------+----------------+-----------------+-----------------+-----------------+-----------------+--------+------+
|Date      |Open            |High             |Low              |Close            |Adj Close        |Volume  |ticker|
+----------+----------------+-----------------+-----------------+-----------------+-----------------+--------+------+
|2019-12-31|92.0999984741211|92.66300201416016|91.61150360107422|92.39199829101562|92.39199829101562|50130000|AMZN  |
|2020-01-02|93.75           |94.90049743652344|93.2074966430664 |94.90049743652344|94.90049743652344|80580000|AMZN  |
|2020-01-03|93.2249984741211|94.30999755859375|93.2249984741211 |93.74849700927734|93.74849700927734|75288000|AMZN  |
|2020-01-06|93.0            |95.18450164794922|93.0             |95.14399719238281|95.14399719238281|81236000|AMZN  |
|2020-01-07|95.2249984741211|95.69450378417969|94.60199737548828|95.34300231933594|95.34300231933594|80898000|AMZN  |
+----------+----------------+-----------------+-----------------+-----------------+-----------------+--------+------+
only showing top 5 rows


MSFT Top 5 Rows:
+----------+------------------+------------------+------------------+------------------+------------------+--------+------+
|Date      |Open              |High              |Low               |Close             |Adj Close         |Volume  |ticker|
+----------+------------------+------------------+------------------+------------------+------------------+--------+------+
|2019-12-31|156.77000427246094|157.77000427246094|156.4499969482422 |157.6999969482422 |151.96568298339844|18369400|MSFT  |
|2020-01-02|158.77999877929688|160.72999572753906|158.3300018310547 |160.6199951171875 |154.7794952392578 |22622100|MSFT  |
|2020-01-03|158.32000732421875|159.9499969482422 |158.05999755859375|158.6199951171875 |152.8522491455078 |21116200|MSFT  |
|2020-01-06|157.0800018310547 |159.10000610351562|156.50999450683594|159.02999877929688|153.24732971191406|20813700|MSFT  |
|2020-01-07|159.32000732421875|159.6699981689453 |157.32000732421875|157.5800018310547 |151.85008239746094|21634100|MSFT  |
+----------+------------------+------------------+------------------+------------------+------------------+--------+------+
only showing top 5 rows


TSLA Top 5 Rows:
+----------+------------------+------------------+------------------+------------------+------------------+---------+------+
|Date      |Open              |High              |Low               |Close             |Adj Close         |Volume   |ticker|
+----------+------------------+------------------+------------------+------------------+------------------+---------+------+
|2019-12-31|27.0              |28.086000442504883|26.80533218383789 |27.8886661529541  |27.8886661529541  |154285500|TSLA  |
|2020-01-02|28.299999237060547|28.713333129882812|28.11400032043457 |28.68400001525879 |28.68400001525879 |142981500|TSLA  |
|2020-01-03|29.366666793823242|30.266666412353516|29.128000259399414|29.534000396728516|29.534000396728516|266677500|TSLA  |
|2020-01-06|29.364667892456055|30.104000091552734|29.333332061767578|30.1026668548584  |30.1026668548584  |151995000|TSLA  |
|2020-01-07|30.760000228881836|31.441999435424805|30.224000930786133|31.270666122436523|31.270666122436523|268231500|TSLA  |
+----------+------------------+------------------+------------------+------------------+------------------+---------+------+
only showing top 5 rows


GOOGL Top 5 Rows:
+----------+-----------------+-----------------+-----------------+-----------------+-----------------+--------+------+
|Date      |Open             |High             |Low              |Close            |Adj Close        |Volume  |ticker|
+----------+-----------------+-----------------+-----------------+-----------------+-----------------+--------+------+
|2019-12-31|66.78949737548828|67.03299713134766|66.60649871826172|66.96949768066406|66.96949768066406|19514000|GOOGL |
|2020-01-02|67.42050170898438|68.43399810791016|67.32450103759766|68.43399810791016|68.43399810791016|27278000|GOOGL |
|2020-01-03|67.4000015258789 |68.6875          |67.36599731445312|68.07599639892578|68.07599639892578|23408000|GOOGL |
|2020-01-06|67.58149719238281|69.91600036621094|67.55000305175781|69.8905029296875 |69.8905029296875 |46768000|GOOGL |
|2020-01-07|70.02300262451172|70.17500305175781|69.5780029296875 |69.75550079345703|69.75550079345703|34330000|GOOGL |
+----------+-----------------+-----------------+-----------------+-----------------+-----------------+--------+------+
only showing top 5 rows


FB Top 5 Rows:
+----------+------------------+------------------+------------------+------------------+------------------+--------+------+
|Date      |Open              |High              |Low               |Close             |Adj Close         |Volume  |ticker|
+----------+------------------+------------------+------------------+------------------+------------------+--------+------+
|2019-12-31|204.0             |205.55999755859375|203.60000610351562|205.25            |205.25            |8953500 |FB    |
|2020-01-02|206.75            |209.7899932861328 |206.27000427246094|209.77999877929688|209.77999877929688|12077100|FB    |
|2020-01-03|207.2100067138672 |210.39999389648438|206.9499969482422 |208.6699981689453 |208.6699981689453 |11188400|FB    |
|2020-01-06|206.6999969482422 |212.77999877929688|206.52000427246094|212.60000610351562|212.60000610351562|17058900|FB    |
|2020-01-07|212.82000732421875|214.5800018310547 |211.75            |213.05999755859375|213.05999755859375|14912400|FB    |
+----------+------------------+------------------+------------------+------------------+------------------+--------+------+
only showing top 5 rows

#### **Statistical Summary of Each Stock DataFrame**

In [15]:
def show_summary(df, name):
    """Display statistical summary of a DataFrame"""
    print(f"\n{name} Statistical Summary:")
    df.describe().show()

In [16]:
# spark.conf.set("spark.sql.debug.maxToStringFields", 10)

In [17]:
for ticker, df in stock_dfs.items():
    show_summary(df, ticker)

AAPL Statistical Summary:

+-------+------------------+-----------------+------------------+------------------+------------------+--------------------+------+
|summary|              Open|             High|               Low|             Close|         Adj Close|              Volume|ticker|
+-------+------------------+-----------------+------------------+------------------+------------------+--------------------+------+
|  count|               254|              254|               254|               254|               254|                 254|   254|
|   mean| 95.17796276122566|96.57026571739377| 93.82802144748958| 95.26071827805887| 93.30824790413924|1.5734118582677165E8|  NULL|
| stddev|22.014833707521472|22.09909824629524| 21.57955997463146|21.810136925990065|21.574201492769824| 6.978351522681883E7|  NULL|
|    min| 57.02000045776367|           57.125| 53.15250015258789|56.092498779296875| 54.77680206298828|            46691300|  AAPL|
|    max| 138.0500030517578|138.7899932861328|134.33999633789062|136.69000244140625| 134.3178253173828|           426510000|  AAPL|
+-------+------------------+-----------------+------------------+------------------+------------------+--------------------+------+


AMZN Statistical Summary:
+-------+------------------+------------------+------------------+------------------+------------------+-------------------+------+
|summary|              Open|              High|               Low|             Close|         Adj Close|             Volume|ticker|
+-------+------------------+------------------+------------------+------------------+------------------+-------------------+------+
|  count|               254|               254|               254|               254|               254|                254|   254|
|   mean|133.88505121666614|135.67705322626068|131.95363773135688| 133.8787751685916| 133.8787751685916|9.842891338582677E7|  NULL|
| stddev| 27.62961704267552|27.792147498113245|27.046225766961737|27.359174221901437|27.359174221901437| 3.95622016782286E7|  NULL|
|    min| 82.07550048828125| 87.97250366210938| 81.30149841308594| 83.83049774169922| 83.83049774169922|           29038000|  AMZN|
|    max|177.35000610351562| 177.6125030517578|174.33450317382812|176.57249450683594|176.57249450683594|          311346000|  AMZN|
+-------+------------------+------------------+------------------+------------------+------------------+-------------------+------+


MSFT Statistical Summary:
+-------+------------------+------------------+------------------+------------------+------------------+-------------------+------+
|summary|              Open|              High|               Low|             Close|         Adj Close|             Volume|ticker|
+-------+------------------+------------------+------------------+------------------+------------------+-------------------+------+
|  count|               254|               254|               254|               254|               254|                254|   254|
|   mean| 192.7679526862197|195.31673239159772| 190.2438582172544|192.88704717440868|186.92000441663848| 3.75836468503937E7|  NULL|
| stddev| 23.16768405915008|22.713204927171535|23.334310693488213| 23.05686271793817| 22.82084106711771|1.691520934381799E7|  NULL|
|    min|137.00999450683594|140.57000732421875|132.52000427246094| 135.4199981689453|  130.852294921875|           10550600|  MSFT|
|    max|229.27000427246094|232.86000061035156|227.35000610351562|231.64999389648438|225.00242614746094|           97012700|  MSFT|
+-------+------------------+------------------+------------------+------------------+------------------+-------------------+------+


TSLA Statistical Summary:
+-------+------------------+------------------+------------------+------------------+------------------+--------------------+------+
|summary|              Open|              High|               Low|             Close|         Adj Close|              Volume|ticker|
+-------+------------------+------------------+------------------+------------------+------------------+--------------------+------+
|  count|               254|               254|               254|               254|               254|                 254|   254|
|   mean|   96.096367362916| 98.81656916310467| 93.30314175913654| 96.39491312522588| 96.39491312522588| 2.256418216535433E8|  NULL|
| stddev|55.947472465056784|57.294581790589966| 54.50356135693554| 56.38581517832388| 56.38581517832388|1.2025701933114815E8|  NULL|
|    min|24.979999542236328| 26.99066734313965|23.367332458496094| 24.08133316040039| 24.08133316040039|            52073100|  TSLA|
|    max| 233.3300018310547|239.57333374023438| 230.3733367919922|235.22332763671875|235.22332763671875|           914082000|  TSLA|
+-------+------------------+------------------+------------------+------------------+------------------+--------------------+------+


GOOGL Statistical Summary:
+-------+-----------------+-----------------+-----------------+-----------------+-----------------+--------------------+------+
|summary|             Open|             High|              Low|            Close|        Adj Close|              Volume|ticker|
+-------+-----------------+-----------------+-----------------+-----------------+-----------------+--------------------+------+
|  count|              254|              254|              254|              254|              254|                 254|   254|
|   mean|73.85554546446312| 74.8010038390873|72.95521057309128|73.92217511454905|73.92217511454905| 3.987264566929134E7|  NULL|
| stddev| 8.77697777683909|8.695941718335597| 8.89842004669258|8.751801629758587|8.751801629758587|1.8196579042399302E7|  NULL|
|    min|52.81850051879883|53.34550094604492|50.44350051879883|52.70650100708008|52.70650100708008|             9312000| GOOGL|
|    max| 91.0270004272461|92.19149780273438| 90.8499984741211|91.24849700927734|91.24849700927734|           108358000| GOOGL|
+-------+-----------------+-----------------+-----------------+-----------------+-----------------+--------------------+------+


FB Statistical Summary:
+-------+------------------+------------------+------------------+------------------+------------------+--------------------+------+
|summary|              Open|              High|               Low|             Close|         Adj Close|              Volume|ticker|
+-------+------------------+------------------+------------------+------------------+------------------+--------------------+------+
|  count|               254|               254|               254|               254|               254|                 254|   254|
|   mean|234.22921278345302|237.81244160809854| 230.6829926498293| 234.4355120921698| 234.4355120921698|2.2393174409448817E7|  NULL|
| stddev|38.753804305447474| 38.85538549738971| 38.49134932572285| 38.53334065267878| 38.53334065267878|1.0414879188782338E7|  NULL|
|    min|            139.75|148.17999267578125|137.10000610351562|146.00999450683594|146.00999450683594|             6702000|    FB|
|    max| 300.1600036621094| 304.6700134277344|293.04998779296875| 303.9100036621094| 303.9100036621094|            76343900|    FB|
+-------+------------------+------------------+------------------+------------------+------------------+--------------------+------+

#### **Checking for Missing Values**

In [18]:
def check_missing_values(df, name):
    """Check missing values in a Dataframe"""
    print(f"\nMissing Values in {name}:")
    df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

In [19]:
for ticker, df in stock_dfs.items():
    check_missing_values(df, ticker)

Missing Values in AAPL:
+----+----+----+---+-----+---------+------+------+
|Date|Open|High|Low|Close|Adj Close|Volume|ticker|
+----+----+----+---+-----+---------+------+------+
|   0|   0|   0|  0|    0|        0|     0|     0|
+----+----+----+---+-----+---------+------+------+


Missing Values in AMZN:
+----+----+----+---+-----+---------+------+------+
|Date|Open|High|Low|Close|Adj Close|Volume|ticker|
+----+----+----+---+-----+---------+------+------+
|   0|   0|   0|  0|    0|        0|     0|     0|
+----+----+----+---+-----+---------+------+------+


Missing Values in MSFT:
+----+----+----+---+-----+---------+------+------+
|Date|Open|High|Low|Close|Adj Close|Volume|ticker|
+----+----+----+---+-----+---------+------+------+
|   0|   0|   0|  0|    0|        0|     0|     0|
+----+----+----+---+-----+---------+------+------+


Missing Values in TSLA:
+----+----+----+---+-----+---------+------+------+
|Date|Open|High|Low|Close|Adj Close|Volume|ticker|
+----+----+----+---+-----+---------+------+------+
|   0|   0|   0|  0|    0|        0|     0|     0|
+----+----+----+---+-----+---------+------+------+


Missing Values in GOOGL:
+----+----+----+---+-----+---------+------+------+
|Date|Open|High|Low|Close|Adj Close|Volume|ticker|
+----+----+----+---+-----+---------+------+------+
|   0|   0|   0|  0|    0|        0|     0|     0|
+----+----+----+---+-----+---------+------+------+


Missing Values in FB:
+----+----+----+---+-----+---------+------+------+
|Date|Open|High|Low|Close|Adj Close|Volume|ticker|
+----+----+----+---+-----+---------+------+------+
|   0|   0|   0|  0|    0|        0|     0|     0|
+----+----+----+---+-----+---------+------+------+

#### **Explore tweet data**

In [20]:
show_top_rows(tweets_df, "Tweet Data")
show_summary(tweets_df, "Tweet Data")
check_missing_values(tweets_df, "Tweets")

Tweet Data Top 5 Rows:
+------+----------+------+-------------------------------------------------------------------------------------------------------------------------------------------+
|id    |date      |ticker|tweet                                                                                                                                      |
+------+----------+------+-------------------------------------------------------------------------------------------------------------------------------------------+
|100001|2020-01-01|AMZN  |$AMZN Dow futures up by 100 points already 🥳                                                                                              |
|100002|2020-01-01|TSLA  |$TSLA Daddy's drinkin' eArly tonight! Here's to a PT of ohhhhh $1000 in 2020! 🍻                                                           |
|100003|2020-01-01|AAPL  |$AAPL We’ll been riding since last December from $172.12 what to do. Decisions decisions hmm 🤔. I have 20 mins to decide. Any suggestions?|
|100004|2020-01-01|TSLA  |$TSLA happy new year, 2020, everyone🍷🎉🙏                                                                                                 |
|100005|2020-01-01|TSLA  |"$TSLA haha just a collection of greats...""Mars"" rofl 😈😎🌠⏫🔮💸👏💪🚀🎆🎇📣🎉🎊 *bork*"                                                |
+------+----------+------+-------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows


Tweet Data Statistical Summary:
+-------+------------------+------+--------------------+
|summary|                id|ticker|               tweet|
+-------+------------------+------+--------------------+
|  count|              6961|  6961|                6961|
|   mean|105071.75621318776|  NULL|                NULL|
| stddev| 2864.122087245054|  NULL|                NULL|
|    min|            100001|  AAPL| Bummer that $TSL...|
|    max|            110000|  TSLA|🚨🔥☆☆☆ $TSLA ☆☆☆...|
+-------+------------------+------+--------------------+


Missing Values in Tweets:

+---+----+------+-----+
| id|date|ticker|tweet|
+---+----+------+-----+
|  0|4177|     0|    0|
+---+----+------+-----+

In [21]:
# Tweet counts
print("\nTweet Count by Company:")
tweets_df.groupBy("ticker").count().orderBy(desc("count")).show()

print("\nTweet Count by Date (Top 10):")
tweets_df.groupBy("date").count().orderBy(desc("count")).show(10)

Tweet Count by Company:
+------+-----+
|ticker|count|
+------+-----+
|  TSLA| 4341|
|  AAPL| 1721|
|  AMZN|  407|
|  MSFT|  271|
|    FB|  204|
| GOOGL|   17|
+------+-----+


Tweet Count by Date (Top 10):
+----------+-----+
|      date|count|
+----------+-----+
|      NULL| 4177|
|2020-03-09|  137|
|2020-01-09|  114|
|2020-01-05|  108|
|2020-02-09|  102|
|2020-04-09|  101|
|2020-08-09|   78|
|2020-09-09|   65|
|2020-10-09|   63|
|2020-03-03|   60|
+----------+-----+
only showing top 10 rows

<h3 style="background-color:#2D3436;color:white;border-radius:8px;padding:15px">Data Preprocessing</h3>

In [22]:
# Process tweet data - calculate daily tweet counts for each company
tweet_counts = tweets_df.groupBy("date", "ticker").count().withColumnRenamed("count", "tweet_count")

In [23]:
def preprocess_data(stock_dfs, tweets_df):
    """Process and join data for each company"""
    processed_dfs = {}
    for ticker, stock_df in stock_dfs.items():
        # Rename date column for consistent joining
        stock_df = stock_df.withColumnRenamed("Date", "date")
        
        # Join stock data with tweet counts
        joined_df = stock_df.join(
            tweet_counts.filter(col("ticker") == ticker),
            on=["date", "ticker"],
            how="left"
        )
        
        # Fill missing tweet counts with 0
        joined_df = joined_df.na.fill({"tweet_count": 0})
        
        # Store the processed DataFrame
        processed_dfs[ticker] = joined_df
        
        # Show the processed data
        print(f"\nProcessed {ticker} Data:")
        joined_df.show(5)
    
    return processed_dfs

In [24]:
processed_dfs = preprocess_data(stock_dfs, tweets_df)

Processed AAPL Data:
+----------+------+-----------------+-----------------+-----------------+-----------------+-----------------+---------+-----------+
|      date|ticker|             Open|             High|              Low|            Close|        Adj Close|   Volume|tweet_count|
+----------+------+-----------------+-----------------+-----------------+-----------------+-----------------+---------+-----------+
|2019-12-31|  AAPL|72.48249816894531|73.41999816894531|72.37999725341797| 73.4124984741211|71.52082061767578|100805600|          0|
|2020-01-02|  AAPL|74.05999755859375| 75.1500015258789|73.79750061035156| 75.0875015258789|73.15264892578125|135480400|          3|
|2020-01-03|  AAPL| 74.2874984741211| 75.1449966430664|           74.125|74.35749816894531|72.44145965576172|146322800|          1|
|2020-01-06|  AAPL|73.44750213623047|74.98999786376953|          73.1875|74.94999694824219| 73.0186767578125|118387200|          2|
|2020-01-07|  AAPL|74.95999908447266| 75.2249984741211|74.37000274658203|74.59750366210938|72.67527770996094|108872000|          0|
+----------+------+-----------------+-----------------+-----------------+-----------------+-----------------+---------+-----------+
only showing top 5 rows


Processed AMZN Data:
+----------+------+----------------+-----------------+-----------------+-----------------+-----------------+--------+-----------+
|      date|ticker|            Open|             High|              Low|            Close|        Adj Close|  Volume|tweet_count|
+----------+------+----------------+-----------------+-----------------+-----------------+-----------------+--------+-----------+
|2019-12-31|  AMZN|92.0999984741211|92.66300201416016|91.61150360107422|92.39199829101562|92.39199829101562|50130000|          0|
|2020-01-02|  AMZN|           93.75|94.90049743652344| 93.2074966430664|94.90049743652344|94.90049743652344|80580000|          1|
|2020-01-03|  AMZN|93.2249984741211|94.30999755859375| 93.2249984741211|93.74849700927734|93.74849700927734|75288000|          0|
|2020-01-06|  AMZN|            93.0|95.18450164794922|             93.0|95.14399719238281|95.14399719238281|81236000|          0|
|2020-01-07|  AMZN|95.2249984741211|95.69450378417969|94.60199737548828|95.34300231933594|95.34300231933594|80898000|          4|
+----------+------+----------------+-----------------+-----------------+-----------------+-----------------+--------+-----------+
only showing top 5 rows


Processed MSFT Data:
+----------+------+------------------+------------------+------------------+------------------+------------------+--------+-----------+
|      date|ticker|              Open|              High|               Low|             Close|         Adj Close|  Volume|tweet_count|
+----------+------+------------------+------------------+------------------+------------------+------------------+--------+-----------+
|2019-12-31|  MSFT|156.77000427246094|157.77000427246094| 156.4499969482422| 157.6999969482422|151.96568298339844|18369400|          0|
|2020-01-02|  MSFT|158.77999877929688|160.72999572753906| 158.3300018310547| 160.6199951171875| 154.7794952392578|22622100|          0|
|2020-01-03|  MSFT|158.32000732421875| 159.9499969482422|158.05999755859375| 158.6199951171875| 152.8522491455078|21116200|          0|
|2020-01-06|  MSFT| 157.0800018310547|159.10000610351562|156.50999450683594|159.02999877929688|153.24732971191406|20813700|          0|
|2020-01-07|  MSFT|159.32000732421875| 159.6699981689453|157.32000732421875| 157.5800018310547|151.85008239746094|21634100|          1|
+----------+------+------------------+------------------+------------------+------------------+------------------+--------+-----------+
only showing top 5 rows


Processed TSLA Data:
+----------+------+------------------+------------------+------------------+------------------+------------------+---------+-----------+
|      date|ticker|              Open|              High|               Low|             Close|         Adj Close|   Volume|tweet_count|
+----------+------+------------------+------------------+------------------+------------------+------------------+---------+-----------+
|2019-12-31|  TSLA|              27.0|28.086000442504883| 26.80533218383789|  27.8886661529541|  27.8886661529541|154285500|          0|
|2020-01-02|  TSLA|28.299999237060547|28.713333129882812| 28.11400032043457| 28.68400001525879| 28.68400001525879|142981500|          1|
|2020-01-03|  TSLA|29.366666793823242|30.266666412353516|29.128000259399414|29.534000396728516|29.534000396728516|266677500|          0|
|2020-01-06|  TSLA|29.364667892456055|30.104000091552734|29.333332061767578|  30.1026668548584|  30.1026668548584|151995000|          7|
|2020-01-07|  TSLA|30.760000228881836|31.441999435424805|30.224000930786133|31.270666122436523|31.270666122436523|268231500|          5|
+----------+------+------------------+------------------+------------------+------------------+------------------+---------+-----------+
only showing top 5 rows


Processed GOOGL Data:
+----------+------+-----------------+-----------------+-----------------+-----------------+-----------------+--------+-----------+
|      date|ticker|             Open|             High|              Low|            Close|        Adj Close|  Volume|tweet_count|
+----------+------+-----------------+-----------------+-----------------+-----------------+-----------------+--------+-----------+
|2019-12-31| GOOGL|66.78949737548828|67.03299713134766|66.60649871826172|66.96949768066406|66.96949768066406|19514000|          0|
|2020-01-02| GOOGL|67.42050170898438|68.43399810791016|67.32450103759766|68.43399810791016|68.43399810791016|27278000|          0|
|2020-01-03| GOOGL| 67.4000015258789|          68.6875|67.36599731445312|68.07599639892578|68.07599639892578|23408000|          0|
|2020-01-06| GOOGL|67.58149719238281|69.91600036621094|67.55000305175781| 69.8905029296875| 69.8905029296875|46768000|          0|
|2020-01-07| GOOGL|70.02300262451172|70.17500305175781| 69.5780029296875|69.75550079345703|69.75550079345703|34330000|          0|
+----------+------+-----------------+-----------------+-----------------+-----------------+-----------------+--------+-----------+
only showing top 5 rows


Processed FB Data:
+----------+------+------------------+------------------+------------------+------------------+------------------+--------+-----------+
|      date|ticker|              Open|              High|               Low|             Close|         Adj Close|  Volume|tweet_count|
+----------+------+------------------+------------------+------------------+------------------+------------------+--------+-----------+
|2019-12-31|    FB|             204.0|205.55999755859375|203.60000610351562|            205.25|            205.25| 8953500|          0|
|2020-01-02|    FB|            206.75| 209.7899932861328|206.27000427246094|209.77999877929688|209.77999877929688|12077100|          0|
|2020-01-03|    FB| 207.2100067138672|210.39999389648438| 206.9499969482422| 208.6699981689453| 208.6699981689453|11188400|          0|
|2020-01-06|    FB| 206.6999969482422|212.77999877929688|206.52000427246094|212.60000610351562|212.60000610351562|17058900|          0|
|2020-01-07|    FB|212.82000732421875| 214.5800018310547|            211.75|213.05999755859375|213.05999755859375|14912400|          2|
+----------+------+------------------+------------------+------------------+------------------+------------------+--------+-----------+
only showing top 5 rows

<h3 style="background-color:#2D3436;color:white;border-radius:8px;padding:15px">Store Data to SQL Database</h3>

In [25]:
# Create SQLite database connection
def create_db_connection():
    conn = sqlite3.connect(db_path)
    return conn

In [26]:
# Store data to SQLite using PySpark
def store_data_to_sql(tweets_df, stock_dfs, processed_dfs):
    # Create database connection
    conn = create_db_connection()
    
    # Store tweets data - convert to pandas first
    tweets_df.toPandas().to_sql("tweets", conn, if_exists="replace", index=False)
    
    # Store stock price data for each company
    for ticker, df in stock_dfs.items():
        df.toPandas().to_sql(f"stock_prices_{ticker}", conn, if_exists="replace", index=False)
    
    # Store processed data for each company
    for ticker, df in processed_dfs.items():
        df.toPandas().to_sql(f"processed_{ticker}", conn, if_exists="replace", index=False)
    
    conn.close()
    print("All data successfully stored in SQLite database")

In [27]:
# Store raw and processed data in SQLite
print("Storing data in SQLite...")
store_data_to_sql(tweets_df, stock_dfs, processed_dfs)

Storing data in SQLite...
All data successfully stored in SQLite database

<h3 style="background-color:#2D3436;color:white;border-radius:8px;padding:15px">Working with Pandas DataFrame</h3>

In [28]:
# Convert processed Spark DataFrames to pandas DataFrames
def convert_to_pandas(processed_dfs):
    pandas_dfs = {}
    for ticker, df in processed_dfs.items():
        pandas_dfs[ticker] = df.toPandas()
    return pandas_dfs

In [29]:
pandas_result_dfs = convert_to_pandas(processed_dfs)

In [30]:
for ticker, df in pandas_result_dfs.items():
    print(ticker, 'Pandas Dataframe')
    display(df.head())
    print('\n')

AAPL Pandas Dataframe

,date,ticker,Open,High,Low,Close,Adj Close,Volume,tweet_count
0,2019-12-31,AAPL,72.482498,73.419998,72.379997,73.412498,71.520821,100805600,0
1,2020-01-02,AAPL,74.059998,75.150002,73.797501,75.087502,73.152649,135480400,3
2,2020-01-03,AAPL,74.287498,75.144997,74.125000,74.357498,72.441460,146322800,1
3,2020-01-06,AAPL,73.447502,74.989998,73.187500,74.949997,73.018677,118387200,2
4,2020-01-07,AAPL,74.959999,75.224998,74.370003,74.597504,72.675278,108872000,0

AMZN Pandas Dataframe

,date,ticker,Open,High,Low,Close,Adj Close,Volume,tweet_count
0,2019-12-31,AMZN,92.099998,92.663002,91.611504,92.391998,92.391998,50130000,0
1,2020-01-02,AMZN,93.750000,94.900497,93.207497,94.900497,94.900497,80580000,1
2,2020-01-03,AMZN,93.224998,94.309998,93.224998,93.748497,93.748497,75288000,0
3,2020-01-06,AMZN,93.000000,95.184502,93.000000,95.143997,95.143997,81236000,0
4,2020-01-07,AMZN,95.224998,95.694504,94.601997,95.343002,95.343002,80898000,4

MSFT Pandas Dataframe

,date,ticker,Open,High,Low,Close,Adj Close,Volume,tweet_count
0,2019-12-31,MSFT,156.770004,157.770004,156.449997,157.699997,151.965683,18369400,0
1,2020-01-02,MSFT,158.779999,160.729996,158.330002,160.619995,154.779495,22622100,0
2,2020-01-03,MSFT,158.320007,159.949997,158.059998,158.619995,152.852249,21116200,0
3,2020-01-06,MSFT,157.080002,159.100006,156.509995,159.029999,153.247330,20813700,0
4,2020-01-07,MSFT,159.320007,159.669998,157.320007,157.580002,151.850082,21634100,1

TSLA Pandas Dataframe

,date,ticker,Open,High,Low,Close,Adj Close,Volume,tweet_count
0,2019-12-31,TSLA,27.000000,28.086000,26.805332,27.888666,27.888666,154285500,0
1,2020-01-02,TSLA,28.299999,28.713333,28.114000,28.684000,28.684000,142981500,1
2,2020-01-03,TSLA,29.366667,30.266666,29.128000,29.534000,29.534000,266677500,0
3,2020-01-06,TSLA,29.364668,30.104000,29.333332,30.102667,30.102667,151995000,7
4,2020-01-07,TSLA,30.760000,31.441999,30.224001,31.270666,31.270666,268231500,5

GOOGL Pandas Dataframe

,date,ticker,Open,High,Low,Close,Adj Close,Volume,tweet_count
0,2019-12-31,GOOGL,66.789497,67.032997,66.606499,66.969498,66.969498,19514000,0
1,2020-01-02,GOOGL,67.420502,68.433998,67.324501,68.433998,68.433998,27278000,0
2,2020-01-03,GOOGL,67.400002,68.687500,67.365997,68.075996,68.075996,23408000,0
3,2020-01-06,GOOGL,67.581497,69.916000,67.550003,69.890503,69.890503,46768000,0
4,2020-01-07,GOOGL,70.023003,70.175003,69.578003,69.755501,69.755501,34330000,0

FB Pandas Dataframe

,date,ticker,Open,High,Low,Close,Adj Close,Volume,tweet_count
0,2019-12-31,FB,204.000000,205.559998,203.600006,205.250000,205.250000,8953500,0
1,2020-01-02,FB,206.750000,209.789993,206.270004,209.779999,209.779999,12077100,0
2,2020-01-03,FB,207.210007,210.399994,206.949997,208.669998,208.669998,11188400,0
3,2020-01-06,FB,206.699997,212.779999,206.520004,212.600006,212.600006,17058900,0
4,2020-01-07,FB,212.820007,214.580002,211.750000,213.059998,213.059998,14912400,2